@font-face {
    font-family: "Inter-Regular";
    src: url(../fonts/Inter-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Inter-Bold";
    src: url(../fonts/Inter-Bold.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Inter-Light";
    src: url(../fonts/Inter-Light.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Inter-Thin";
    src: url(../fonts/Inter-Thin.woff2) format("woff2");
    font-weight: 400;
    font-style: normal
}

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Inter-Regular', sans-serif
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px
}

.intro,
.about {
    background-color: #082030
}

.intro__upper {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
    padding-bottom: 70px
}

.no-webp .intro__upper {
    background: url(../img/intro-upper-bcg.jpg) center center / cover no-repeat;
}

.webp .intro__upper {
    background: url(../img/intro-upper-bcg.webp) center center / cover no-repeat;
}

.header {
    padding-top: 30px
}

.intro__title--wrapper {
    margin-top: 40px
}

.intro__title {
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #fff;
    margin-bottom: 20px
}

.intro__subtitle {
    font-family: 'Inter-Light', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px
}

.intro__button {
    font-family: 'Inter-Regular', sans-serif;
    max-width: 215px;
    width: 100%;
    padding: 13px;
    border: 1px solid #fff;
    border-radius: 35px;
    text-transform: uppercase;
    background-color: #3a9fb67a;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease-in-out
}

.intro__button:hover {
    background-color: #3a9fb6;
    transition: background-color .3s ease-in-out
}

.intro__bottom {
    transform: rotate(45deg)
}

.about__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 60px
}

.about__background {
    position: absolute;
    left: -400px;
    z-index: 1
}

.about__left,
.about__right {
    position: relative;
    display: inline-block;
    z-index: 2
}

.about__left {
    max-width: 530px;
    width: 100%
}

.about__left--title {
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #C8972C;
    padding-top: 80px
}

.about__left--subtitle {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-indent: 25px;
    color: #fff;
    margin-bottom: 35px
}

.about__left--text {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #fff
}

.about__right {
    max-width: 425px;
    width: 100%
}

.about__right--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #415867;
    padding-bottom: 15px
}

.about__right--title {
    font-family: 'Inter-Bold', sans-serif;
    font-weight: 700px;
    font-size: 24px;
    text-transform: uppercase;
    color: #C8972C
}

.about__right--top-link {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: #fff;
    transition: color .2s ease-in-out
}

.about__right--top-link:hover {
    color: #d5d5d5;
    transition: color .2s ease-in-out
}

.about__right--main {
    max-width: 300px;
    width: 100%;
    padding-top: 24px
}

.about__right--number {
    font-size: 20px;
    color: #415867;
    padding-top: 8px
}

.about__right--slash {
    font-family: 'Inter-Thin', sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #415867
}

.about__right--item:not(:last-child) {
    border-bottom: 1px solid #415867;
    padding-bottom: 20px
}

.about__right--item-title,
.about__right--item-text {
    font-family: 'Inter-Light', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 20px
}

.about__right--item-body {
    display: none;
    max-width: 300px;
    width: 100%
}

.about__right--item-body.active {
    display: block
}

.about__right--item-text {
    font-size: 14px;
    color: #8095A4;
    margin-bottom: 18px
}

.about__right--item-text:last-child {
    margin-bottom: 0
}

.about__right--item-dots {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
    color: #C4C4C4
}

.about__right--link {
    font-size: 13px;
    color: #9BB3C2;
    transition: color .2s ease
}

.about__right--link:hover {
    color: #d6d5d5;
    transition: color .2s ease
}

.about__right--buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.about__right--button-open,
.about__right--button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #415867;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    transition: all .2s ease
}

.about__right--button-open.disabled,
.about__right--button-close.disabled {
    opacity: 0;
    visibility: hidden
}

.about__right--button-close {
    opacity: 0;
    visibility: hidden;
    margin-top: 15px;
    transition: all .3s ease
}

.about__right--button-close.active,
.about__right--button-open.active {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease
}

.about__right--button-close::before {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #082030;
    transform: rotate(44deg)
}

.about__right--button-close::after {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #082030;
    transform: rotate(-45deg)
}

.about__right--button-open:hover,
.about__right--button-close:hover {
    background-color: #fff;
    transition: background-color .3s ease-in-out
}

.about__right--item {
    position: relative;
    display: flex;
    justify-content: space-between
}

.stories__top {
    position: relative;
    padding-bottom: 25px
}

.stories__top--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px
}

.stories__top--wrapper::before {
    content: '';
    position: absolute;
    top: 44px;
    width: 100%;
    height: 1px;
    background-color: #DCBE7B;
    z-index: 1
}

.stories__top--img {
    position: relative;
    max-width: 210px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 2
}

.stories__top--link {
    font-size: 14px;
    font-weight: 400;
    color: #C8972C
}

.stories__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px
}

.stories__item {
    position: relative;
    max-width: 370px;
    width: 100%;
    min-height: 492px;
    margin-right: 10px;
    cursor: pointer
}

.stories__item:last-child {
    margin-right: 0
}

.stories__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(8, 32, 48, 0) 30.73%, #082030 100%);
    transition: all .2s ease-in-out
}

.stories__item:hover::before {
    filter: grayscale(100%);
    transition: all .2s ease-in-out
}

.no-webp .stories__item--1 {
    background: url(../img/stories-1.jpg) center center / cover no-repeat
}

.no-webp .stories__item--2 {
    background: url(../img/stories-2.jpg) center center / cover no-repeat
}

.no-webp .stories__item--3 {
    background: url(../img/stories-3.jpg) center center / cover no-repeat
}

.webp .stories__item--1 {
    background: url(../img/stories-1.webp) center center / cover no-repeat
}

.webp .stories__item--2 {
    background: url(../img/stories-2.webp) center center / cover no-repeat
}

.webp .stories__item--3 {
    background: url(../img/stories-3.webp) center center / cover no-repeat
}

.stories__about {
    max-width: 260px;
    position: absolute;
    bottom: 50px;
    left: 40px;
    padding-right: 20px
}

.stories__about--top {
    font-size: 16px;
    color: #fff;
    padding-bottom: 15px
}

.stories__about--title {
    font-size: 24px;
    color: #fff
}

.contact {
    background-color: #F6F6F6;
    padding: 40px 0
}

.contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.contact__left {
    max-width: 460px;
    width: 100%
}

.contact__left--title {
    font-family: 'Inter-Black', sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding-bottom: 20px
}

.contact__left--text {
    font-size: 14px;
    line-height: 23px;
    color: #8095A4;
    padding-bottom: 10px
}

.contact__left--devider {
    display: block;
    width: 42px;
    height: 1px;
    background-color: #8095A4;
    margin: 15px 0 10px
}

.contact__left--link {
    font-size: 14px;
    text-decoration: underline;
    color: #082030
}

.contact__left--tel {
    font-size: 14px;
    color: #8095A4;
    padding-left: 10px;
    white-space: nowrap
}

.contact__right {
    max-width: 465px;
    width: 100%
}

.form {
    max-width: 465px
}

.form__inputs {
    max-width: 465px;
    width: 100%
}

.form__inputs input {
    display: inline-block;
    max-width: 220px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    outline: none;
    background-color: transparent;
    padding: 10px 10px 10px 0;
    font-size: 15px;
    color: #878787;
    margin-bottom: 12px
}

.form__input {
    position: relative;
    display: inline-block;
    max-width: 230px;
    width: 100%
}

.form__message {
    position: relative
}

.form__message textarea {
    max-width: 455px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    outline: none;
    background-color: transparent;
    padding: 10px 10px 10px 0;
    resize: none;
    font-size: 15px;
    color: #878787;
    margin-bottom: 10px;
    height: 100px
}

.message {
    top: 15% !important
}

.form__placeholder {
    position: absolute;
    top: 19%;
    font-size: 15px;
    line-height: 15px;
    color: #878787
}

.form__placeholder--star {
    color: #C8972C
}

.form__button {
    max-width: 265px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 45px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(223.08deg, #FFC953 6.11%, #C8972C 97.63%);
    padding: 17px;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.form__button:hover {
    outline: 2px solid #fbaf0b;
    color: #415867;
    transition: all .3s ease-in-out
}

.footer {
    background: #C8972C
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center
}

.footer__ad {
    display: flex;
    align-items: center;
    padding: 15px
}

.footer__ad--image {
    margin-right: 10px
}

.footer__text {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 22px;
    color: #fff
}

.footer__button {
    max-width: 185px;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #C8972C;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    padding: 10px;
    cursor: pointer;
    transition: color .3s ease-in-out
}

.footer__button:hover {
    color: #415867;
    transition: color .3s ease-in-out
}

@media(max-width: 1023px) {
    .about__left {
        max-width: 370px
    }

    .contact__wrapper {
        justify-content: center
    }

    .contact__left {
        max-width: 300px
    }

    .form {
        max-width: 370px
    }

    .form__input {
        max-width: 180px
    }

    .form__inputs input {
        max-width: 170px
    }

    .form__message textarea {
        max-width: 356px
    }

    .contact__right {
        display: flex;
        justify-content: flex-end
    }

    .contact__left {
        max-width: 370px;
        margin-bottom: 40px
    }
}

@media(max-width: 900px) {
    .stories__about--title {
        font-size: 21px
    }
}

@media(max-width: 860px) {
    .about__wrapper {
        flex-direction: column;
        align-items: center
    }

    .about__left--title {
        padding-top: 15px
    }

    .about__left {
        max-width: 425px;
        padding-bottom: 40px
    }

    .about__background {
        left: -244px;
        top: 16px
    }

    .contact__left {
        max-width: 320px
    }
}

@media(max-width: 767px) {
    .intro__title {
        font-size: 64px;
        line-height: 68px
    }

    .stories__about--title {
        font-size: 21px
    }

    .contact__wrapper {
        flex-direction: column
    }

    .contact__right {
        justify-content: center
    }

    .contact__left {
        max-width: 370px
    }
}

@media(max-width: 680px) {
    .stories__items {
        flex-direction: column
    }

    .stories__item {
        margin-right: 0;
        margin-bottom: 20px
    }

    .footer__wrapper {
        flex-direction: column
    }

    .footer__button {
        margin-bottom: 15px
    }

    .footer__text {
        font-size: 20px
    }
}

@media(max-width: 456px) {
    .header__logo img {
        display: block;
        margin: 0 auto
    }

    .intro__title--wrapper {
        margin-top: 55px
    }

    .intro__title {
        max-width: 250px;
        width: 100%;
        text-align: center;
        font-size: 43px;
        line-height: 54px;
        margin: 0 auto 15px
    }

    .intro__subtitle {
        max-width: 200px;
        text-align: center;
        font-size: 22px;
        margin: 0 auto 75px
    }

    .intro__button {
        display: block;
        margin: 0 auto
    }

    .about__left--title {
        font-size: 36px
    }

    .about__left--subtitle {
        font-size: 26px
    }

    .about__right--item-title {
        font-size: 18px
    }

    .about__right--item-text {
        font-size: 16px
    }

    .about__right--main {
        max-width: 200px
    }

    .stories__top--wrapper {
        flex-direction: row;
        align-items: flex-end
    }

    .stories__top--wrapper::before {
        top: 67px
    }

    .stories__top--link {
        line-height: 19px
    }

    .stories__about--top {
        font-size: 13px
    }

    .stories__about--title {
        font-size: 18px
    }

    .stories__about {
        max-width: 225px
    }

    .contact__left--title {
        font-size: 24px
    }

    .contact__left--tel {
        display: block;
        padding-left: 0;
        padding-top: 12px
    }

    .form__inputs {
        display: flex;
        flex-direction: column
    }

    .form__input,
    .form__inputs input,
    .form__inputs {
        max-width: 370px;
        width: 100%
    }

    .contact__right {
        display: block;
        margin: 0 auto
    }

    .form__button {
        display: block;
        margin: 0 auto
    }

    .form {
        margin: 0 auto
    }

    .footer__wrapper {
        max-width: 280px;
        width: 100%;
        margin: 0 auto
    }
}